@model IEnumerable<Prova_Junior.Models.Noticia>

@{
    ViewBag.Title = "TodasNoticias";
}

<h2>TodasNoticias</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Noticia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Noticia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>

        </tr>

    }

</table>
@Html.ActionLink("MENU", "Menu", "Usuario") <br />
