
@{
    ViewBag.Title = "Index";
}


<h2>Dados da Pessoa</h2>
<p>@ViewData["Id_Pessoa"]</p>

<p>@ViewData["Nome"]</p>

<p>@ViewData["Idade"]</p>

<hr />

<h2>Ddos pessoa 2</h2>
<p>@ViewBag.id</p>
<p>@ViewBag.idade</p>
<p>@ViewBag.nome</p>

