@model WebApplication2.Models.Professor
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post">

    @Html.LabelFor(x => x.Sexo)
    <br />
    @Html.TextBoxFor(x => x.Sexo)
    <br />
    @Html.ValidationMessageFor(x => x.Sexo)
    <br />
    @Html.LabelFor(x => x.Nome)
    <br />
    @Html.TextBoxFor(x => x.Nome)
    <br />
    @Html.ValidationMessageFor(x => x.Nome)
    <br />
    @Html.LabelFor(x => x.Sobrenome)
    <br />
    @Html.TextBoxFor(x => x.Sobrenome)
    <br />
    @Html.ValidationMessageFor(x => x.Sobrenome)
    <br />

    @Html.LabelFor(x => x.Idade)
    <br />
    @Html.TextBoxFor(x => x.Idade)
    <br />
    @Html.ValidationMessageFor(x => x.Idade)

    <br />

    @Html.LabelFor(x => x.Senha)
    <br />
    @Html.TextBoxFor(x => x.Senha)
    <br />
    @Html.ValidationMessageFor(x => x.Senha)

    <br />

    @Html.LabelFor(x => x.Confirma_Senha)
    <br />
    @Html.TextBoxFor(x => x.Confirma_Senha)
    <br />
    @Html.ValidationMessageFor(x => x.Confirma_Senha)
    <br />


    @Html.LabelFor(x => x.Cpf)
    <br />
    @Html.TextBoxFor(x => x.Cpf)
    <br />
    @Html.ValidationMessageFor(x => x.Cpf)
    <br />

    @Html.LabelFor(x => x.Email)
    <br />
    @Html.TextBoxFor(x => x.Email)
    <br />
    @Html.ValidationMessageFor(x => x.Email)
    <br />



    <input type="submit" value="SALVAR" />
</form>

@* Exibe a mensagem automaticamente na tela *@
@section Scripts{
    
    @Scripts.Render("~/bundles/jqueryval")
    
    }
