
@{
    ViewBag.Title = "Menu_USUARIO";
}

<h2>OLÁ ESTE É NOSSO SITE</h2>
<br />
<td>@Html.ActionLink("IR CELULARES", "Celular", "Produto")</td>
<br />
<td>@Html.ActionLink("IR CARREGADORES", "Carregadores", "Produto")</td>
<br />
<td>@Html.ActionLink("IR NOTBOOK", "Not", "Produto")</td>
<br />
<td>@Html.ActionLink("IR TABLET", "Tablet", "Produto")</td>

<br />
<br />

<td>@Html.ActionLink("Sair", "Login", "Login")</td>

